@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* ======================

   Partials/variables

   ======================= */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* ======================

   Partials/mixins

   ======================= */
color: #ff0a0a;
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* ======================

   Partials/base

   ======================= */
/*
 * Rules for base elements
 */
html {
  font-size: 62.5%;
  font-family: "Muli", Arial, sans-serif; }

body {
  margin: 0;
  background: #272939;
  /* fallback for old browsers */
  background-image: linear-gradient(to right, #272939 0%, #232D7D 100%); }

section {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  padding: 45px 0 65px; }
  section:last-child {
    margin-right: 0; }

img {
  max-width: 100%;
  height: auto;
  width: inherit; }

p, li {
  font-size: 14px;
  font-size: 1.4rem;
  color: #555;
  line-height: 1.5; }

p, ul, ol, dl {
  margin: 0 0 0.5em 0; }

ul, ol {
  padding-left: 2em;
  list-style: none; }

p {
  color: #ededed;
  overflow: hidden; }

a {
  text-decoration: none;
  color: #e5a929; }

a:hover {
  text-decoration: underline; }

h1 {
  font-size: 25px;
  font-size: 2.5rem;
  color: #52C0D3; }

h2 {
  font-size: 20px;
  font-size: 2rem; }

h3 {
  font-size: 15px;
  font-size: 1.5rem; }

h2, h3 {
  color: #52C0D3; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

table {
  font-size: 14px;
  font-size: 1.4rem;
  border-collapse: collapse;
  width: 100%; }

th, td {
  padding: 0.5em; }

/*
 * Rules for base drupal elements
 */
.tabs {
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin: 10px 0; }
  .tabs li {
    list-style-type: none;
    float: left; }
  .tabs a {
    color: #333;
    font-size: 14px;
    font-size: 1.4rem;
    padding-right: 20px; }
    .tabs a.active {
      color: #000;
      font-weight: 600; }
    .tabs a:hover {
      color: #000;
      text-decoration: none; }

.review-fav li {
  color: #e5a929; }

/* ======================

   Partials/layout

   ======================= */
.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

.title-section {
  margin-right: 0; }
  @media screen and (min-width: 320px) {
    .title-section {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 74.1053340983%;
      margin-left: 12.9473329508%;
      margin-left: 0; }
      .title-section:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 600px) {
    .title-section {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 74.1053340983%;
      margin-right: 0;
      margin-left: 12.9473329508%; }
      .title-section:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 900px) {
    .title-section {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 79.4314828859%;
      margin-left: 10.284258557%;
      margin-right: 0; }
      .title-section:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1280px) {
    .title-section {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      margin-right: 0;
      margin-left: 0; }
      .title-section:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1400px) {
    .title-section {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      margin-right: 0;
      margin-left: 0; }
      .title-section:last-child {
        margin-right: 0; } }

.section-wide {
  background-color: #252525;
  height: auto;
  width: 100%; }

/* =============== Section Video =============== */
@media screen and (min-width: 320px) {
  .section-video {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
    .section-video:last-child {
      margin-right: 0; } }

@media screen and (min-width: 900px) {
  .section-video {
    float: left;
    display: block;
    margin-right: 2.8425855704%;
    width: 100%;
    margin-right: 0; }
    .section-video:last-child {
      margin-right: 0; } }

@media screen and (min-width: 1280px) {
  .section-video {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-right: 0; }
    .section-video:last-child {
      margin-right: 0; } }

.video-container {
  margin-right: 0;
  margin: 18px 0; }
  @media screen and (min-width: 320px) {
    .video-container {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 74.1053340983%;
      margin-left: 12.9473329508%; }
      .video-container:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 900px) {
    .video-container {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 79.4314828859%;
      margin-left: 10.284258557%; }
      .video-container:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1280px) {
    .video-container {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 82.9403914003%;
      margin-left: 8.5298042998%; }
      .video-container:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1400px) {
    .video-container {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      margin-left: 0; }
      .video-container:last-child {
        margin-right: 0; } }

/* ===================== products home ===================== */
.section-products {
  margin: 0;
  width: 100%; }

.list {
  clear: both;
  padding: 0;
  margin: 0; }
  @media (min-width: 320px) {
    .list {
      width: 100%; } }
  @media (min-width: 900px) {
    .list {
      margin: 0 auto;
      width: 80%; } }
  @media (min-width: 1280px) {
    .list {
      margin: 0 auto;
      width: 100%; } }

.col {
  display: block;
  float: left; }

.product-item {
  background-color: #252525;
  text-align: center;
  padding: 20px 0; }
  @media (min-width: 320px) {
    .product-item {
      margin: 20px 0;
      width: 100%; } }
  @media (min-width: 600px) {
    .product-item {
      margin: 20px 1%;
      width: 48%; } }
  @media (min-width: 900px) {
    .product-item {
      margin: 20px 1.5%;
      width: 22%; } }

/* ======================

   Partials/modules/related

   ======================= */
/* section slider
   ========================================================================== */
.section-slider {
  padding: 45px 0 65px;
  width: 100%; }

.slider-container {
  max-width: 1200px;
  background: #348F50;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #348F50, #56B4D3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 auto; }
  @media (min-width: 320px) {
    .slider-container {
      height: 300px; } }
  @media (min-width: 600px) {
    .slider-container {
      height: 320px; } }
  @media (min-width: 900px) {
    .slider-container {
      height: 450px; } }

label,
.webform-container-inline label {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 8px; }

label.option {
  display: inline;
  font-weight: 400;
  margin-left: 0.5em; }

select {
  font-size: 12px;
  font-size: 1.2rem;
  width: 100%; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font-size: 12px;
  font-size: 1.2rem;
  border-radius: 3px;
  border: solid #e1e1e1 1px;
  background: #fff;
  margin-bottom: 5px;
  padding: 5px; }

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%; }
  @media screen and (min-width: 767px) {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      max-width: 300px; } }

input[type="checkbox"],
input[type="radio"] {
  font-size: 16px;
  font-size: 1.6rem;
  vertical-align: baseline; }

input[type="submit"] {
  border: 0;
  outline: 0;
  padding: 8px 25px;
  width: 100%;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out; }
  @media screen and (min-width: 767px) {
    input[type="submit"] {
      width: auto;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0; } }

.form-type-radio {
  margin-bottom: 5px; }

.field-widget-text-textarea .form-type-textarea {
  margin-bottom: 10px; }

.filter-wrapper {
  border: 0;
  background: #fff;
  border-radius: 5px; }

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red; }

.webform-component {
  margin-bottom: 15px; }

/* ======================

   Partials/modules/header

   ======================= */
.header-product {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .header-product::after {
    clear: both;
    content: "";
    display: table; }

@media screen and (min-width: 320px) {
  .header-product-name {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 74.1053340983%;
    margin-right: 0;
    margin-left: 12.9473329508%; }
    .header-product-name:last-child {
      margin-right: 0; } }

@media screen and (min-width: 600px) {
  .header-product-name {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 74.1053340983%;
    margin-right: 0;
    margin-left: 12.9473329508%; }
    .header-product-name:last-child {
      margin-right: 0; } }

@media screen and (min-width: 900px) {
  .header-product-name {
    float: left;
    display: block;
    margin-right: 2.8425855704%;
    width: 79.4314828859%;
    margin-right: 0;
    margin-left: 10.284258557%; }
    .header-product-name:last-child {
      margin-right: 0; } }

@media screen and (min-width: 1280px) {
  .header-product-name {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%;
    margin-right: 0;
    margin-left: 8.5298042998%; }
    .header-product-name:last-child {
      margin-right: 0; } }

@media screen and (min-width: 1400px) {
  .header-product-name {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
    .header-product-name:last-child {
      margin-right: 0; } }

.main-title {
  margin-bottom: 0; }
  @media screen and (min-width: 320px) {
    .main-title {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media screen and (min-width: 900px) {
    .main-title {
      font-size: 22px;
      font-size: 2.2rem; } }
  @media screen and (min-width: 1280px) {
    .main-title {
      font-size: 25px;
      font-size: 2.5rem; } }

/* ======================

   Partials/modules/navigations

   ======================= */
/* icons
   ========================================================================== */
.menu-toggle {
  font-size: 18px;
  font-size: 1.8rem;
  background: #bd8101;
  float: right;
  text-align: center; }
  @media (min-width: 320px) {
    .menu-toggle {
      cursor: pointer;
      display: block;
      padding: 9px 0;
      margin: 0 auto;
      width: 70px; } }
  @media (min-width: 900px) {
    .menu-toggle {
      display: none; } }

.nav-main {
  border-color: #168497;
  background: #252525;
  height: auto;
  margin-top: 20px;
  margin-right: 20px;
  width: 100%;
  /*
     * class added with js
     */
  /*
     * Sub navigation style
     */ }
  .nav-main .menu {
    transition: 0.4s;
    overflow: hidden;
    padding-left: 0;
    width: 100%; }
    @media (min-width: 320px) {
      .nav-main .menu {
        height: 0; } }
    @media (min-width: 900px) {
      .nav-main .menu {
        height: auto; } }
  @media (min-width: 320px) {
    .nav-main .show {
      height: 250px; } }
  @media (min-width: 900px) {
    .nav-main .show {
      height: auto; } }
  .nav-main .item-list {
    height: 50px;
    list-style: none;
    padding: 10px 0;
    text-align: center; }
    @media (min-width: 320px) {
      .nav-main .item-list {
        display: block;
        width: 100%; } }
    @media (min-width: 900px) {
      .nav-main .item-list {
        display: inline-block;
        width: 20%; } }
    .nav-main .item-list:hover {
      background: #bd8101; }
  .nav-main .item-list:hover .link-nav {
    color: #ededed;
    text-decoration: none; }
  .nav-main .link-nav {
    font-size: 20px;
    font-size: 2rem;
    color: #e5a929;
    text-align: center; }
  .nav-main .expanded .menu-expanded {
    background: #252525;
    display: none;
    height: 102px;
    padding: 2px 0 19px 0; }
    @media (min-width: 320px) {
      .nav-main .expanded .menu-expanded {
        display: none;
        position: absolute;
        left: 0;
        top: 0; } }
    @media (min-width: 900px) {
      .nav-main .expanded .menu-expanded {
        position: absolute;
        overflow: hidden;
        left: 180px;
        top: 70px;
        width: 50%;
        z-index: 1; } }
    .nav-main .expanded .menu-expanded li {
      float: left;
      padding: 13px 0;
      width: 25%; }
      @media (min-width: 320px) {
        .nav-main .expanded .menu-expanded li {
          display: none; } }
      @media (min-width: 900px) {
        .nav-main .expanded .menu-expanded li {
          display: inline-block; } }
    .nav-main .expanded .menu-expanded a {
      font-size: 15px;
      font-size: 1.5rem;
      color: #ededed;
      text-decoration: none; }
  @media (min-width: 320px) {
    .nav-main .expanded:hover .menu-expanded {
      display: none; } }
  @media (min-width: 900px) {
    .nav-main .expanded:hover .menu-expanded {
      display: block; } }

/*
 * class added with js
 */
.show-sub-menu {
  overflow: hidden;
  transition: 0.4s; }
  @media (min-width: 320px) {
    .show-sub-menu {
      display: block !important;
      height: 250px; } }
  @media (min-width: 900px) {
    .show-sub-menu {
      height: auto; } }

/* ======================

   Partials/modules/review

   ======================= */
/* section reviews
   ========================================================================== */
@media screen and (min-width: 320px) {
  .section-reviews {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
    .section-reviews:last-child {
      margin-right: 0; } }

@media screen and (min-width: 600px) {
  .section-reviews {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
    .section-reviews:last-child {
      margin-right: 0; } }

@media screen and (min-width: 900px) {
  .section-reviews {
    float: left;
    display: block;
    margin-right: 2.8425855704%;
    width: 100%;
    margin-right: 0; }
    .section-reviews:last-child {
      margin-right: 0; } }

@media screen and (min-width: 1280px) {
  .section-reviews {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%;
    margin-right: 0;
    margin-left: 8.5298042998%; }
    .section-reviews:last-child {
      margin-right: 0; } }

@media screen and (min-width: 1400px) {
  .section-reviews {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
    .section-reviews:last-child {
      margin-right: 0; } }

.review-block {
  border: 1px solid #52C0D3;
  border-radius: 3px;
  overflow: hidden;
  background: #2D2D2D;
  padding: 8px 40px;
  margin-top: 20px; }
  @media screen and (min-width: 320px) {
    .review-block {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 74.1053340983%;
      margin-right: 0;
      margin-left: 12.9473329508%;
      padding: 8px 10px; }
      .review-block:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 600px) {
    .review-block {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 74.1053340983%;
      margin-right: 0;
      margin-left: 12.9473329508%;
      padding: 8px 15px; }
      .review-block:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 900px) {
    .review-block {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 79.4314828859%;
      margin-right: 0;
      margin-left: 10.284258557%; }
      .review-block:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1280px) {
    .review-block {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      margin-right: 0;
      margin-left: 0; }
      .review-block:last-child {
        margin-right: 0; } }

/*
 * section user profile
 */
.review-user {
  margin-top: 40px;
  text-align: center; }
  @media screen and (min-width: 320px) {
    .review-user {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%;
      margin-right: 0;
      margin-left: 34.1192171993%;
      display: block;
      margin-top: 20px; }
      .review-user:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 900px) {
    .review-user {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 14.7019570017%;
      margin-right: 0;
      display: inline-block;
      margin-top: 10px;
      margin-left: 0; }
      .review-user:last-child {
        margin-right: 0; } }

.review-user p {
  margin-top: 10px; }

/*
 * section user comment
 */
.review-comment {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 82.9403914003%;
  margin-right: 0;
  margin-left: 20px;
  padding: 10px; }
  .review-comment:last-child {
    margin-right: 0; }
  .review-comment p {
    width: 100%; }
  .review-comment ul {
    width: 100%; }
  @media screen and (min-width: 320px) {
    .review-comment {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      margin-right: 0;
      display: block;
      margin-left: 0; }
      .review-comment:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 900px) {
    .review-comment {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 82.9403914003%;
      margin-right: 0;
      display: inline-block; }
      .review-comment:last-child {
        margin-right: 0; } }

@media screen and (min-width: 320px) {
  .review-comment-main {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-right: 0;
    display: block;
    margin-left: 0; }
    .review-comment-main:last-child {
      margin-right: 0; } }

@media screen and (min-width: 900px) {
  .review-comment-main {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%;
    margin-right: 0;
    display: inline-block; }
    .review-comment-main:last-child {
      margin-right: 0; } }

.title-review {
  margin-bottom: 0; }

.profile-picture {
  border-radius: 50%;
  width: 80px; }

.profile-picture-main {
  border-radius: 50%; }
  @media screen and (min-width: 320px) {
    .profile-picture-main {
      width: 120px; } }
  @media screen and (min-width: 600px) {
    .profile-picture-main {
      width: 120px; } }
  @media screen and (min-width: 900px) {
    .profile-picture-main {
      width: 120px; } }
  @media screen and (min-width: 1280px) {
    .profile-picture-main {
      width: 70px; } }

.review-fav {
  padding: 0;
  margin: 5px 0; }
  .review-fav li {
    display: inline-block;
    float: left;
    font-size: 20px; }

@media screen and (min-width: 320px) {
  .video-review {
    width: 100%; } }

@media screen and (min-width: 900px) {
  .video-review {
    width: 560px; } }

@media screen and (min-width: 1280px) {
  .video-review {
    width: 560px; } }

/* ======================

   Partials/modules/related

   ======================= */
/*
 * section container without neat
 */
.section-wide {
  margin: 0;
  width: 100%; }

/* section products related
   ========================================================================== */
.related-products-container {
  margin-right: 0; }
  @media screen and (min-width: 320px) {
    .related-products-container {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%;
      margin-left: 0; }
      .related-products-container:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 900px) {
    .related-products-container {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 100%; }
      .related-products-container:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1280px) {
    .related-products-container {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .related-products-container:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1400px) {
    .related-products-container {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      margin-left: 0; }
      .related-products-container:last-child {
        margin-right: 0; } }

.related-list {
  padding-left: 0; }
  @media screen and (min-width: 320px) {
    .related-list {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%; }
      .related-list:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 600px) {
    .related-list {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%; }
      .related-list:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 900px) {
    .related-list {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 89.715741443%;
      margin-left: 10.284258557%; }
      .related-list:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1280px) {
    .related-list {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      margin-left: 0; }
      .related-list:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1400px) {
    .related-list {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      margin-left: 0; }
      .related-list:last-child {
        margin-right: 0; } }

.related-list-item {
  margin-top: 20px;
  text-align: center; }
  @media screen and (min-width: 320px) {
    .related-list-item {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%;
      margin-left: 0; }
      .related-list-item:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 600px) {
    .related-list-item {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%;
      margin-left: 0; }
      .related-list-item:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 900px) {
    .related-list-item {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 28.0101901008%;
      margin-right: 0; }
      .related-list-item:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1280px) {
    .related-list-item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%;
      margin-right: 0; }
      .related-list-item:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1400px) {
    .related-list-item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%;
      margin-right: 0; }
      .related-list-item:last-child {
        margin-right: 0; } }

@media screen and (min-width: 320px) {
  .image-product-related {
    padding: 15px 0;
    width: 250px;
    height: 350px; } }

@media screen and (min-width: 900px) {
  .image-product-related {
    padding: 15px 0;
    height: 240px;
    width: 160px; } }

@media screen and (min-width: 1280px) {
  .image-product-related {
    padding: 15px 0;
    height: 240px;
    width: 160px; } }

@media screen and (min-width: 1400px) {
  .image-product-related {
    padding: 15px 0;
    height: 240px;
    width: 160px; } }

.name-game-related {
  font-size: 18px;
  font-size: 1.8rem; }

.price-related {
  color: #2dc103;
  display: block;
  text-align: center; }

.product-price-related {
  font-size: 14px;
  font-size: 1.4rem;
  color: white;
  display: block;
  margin-top: 0;
  text-align: center; }

/* ======================

   Partials/modules/product

   ======================= */
/* section product left
   ========================================================================== */
@media screen and (min-width: 320px) {
  .product {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
    .product:last-child {
      margin-right: 0; } }

@media screen and (min-width: 600px) {
  .product {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
    .product:last-child {
      margin-right: 0; } }

@media screen and (min-width: 900px) {
  .product {
    float: left;
    display: block;
    margin-right: 2.8425855704%;
    width: 100%;
    margin-right: 0; }
    .product:last-child {
      margin-right: 0; } }

@media screen and (min-width: 1280px) {
  .product {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%;
    margin-right: 0;
    margin-left: 8.5298042998%; }
    .product:last-child {
      margin-right: 0; } }

@media screen and (min-width: 1400px) {
  .product {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
    .product:last-child {
      margin-right: 0; } }

.product-img {
  margin-right: 0;
  margin: 18px 0; }
  @media screen and (min-width: 320px) {
    .product-img {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 74.1053340983%;
      margin-left: 12.9473329508%; }
      .product-img:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 600px) {
    .product-img {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 74.1053340983%;
      margin-left: 12.9473329508%; }
      .product-img:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 900px) {
    .product-img {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 38.2944486578%;
      margin-left: 10.284258557%; }
      .product-img:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1280px) {
    .product-img {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 40.2913699012%;
      margin-left: 0; }
      .product-img:last-child {
        margin-right: 0; } }

.product-img-list li {
  display: inline-block;
  float: left;
  text-align: center; }

/* section product right
   ========================================================================== */
.product-info {
  margin-right: 0;
  margin: 18px 0; }
  @media screen and (min-width: 320px) {
    .product-info {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 74.1053340983%;
      margin-left: 12.9473329508%;
      margin-right: 0; }
      .product-info:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 600px) {
    .product-info {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 74.1053340983%;
      margin-left: 12.9473329508%;
      margin-right: 0; }
      .product-info:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 900px) {
    .product-info {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 38.2944486578%;
      margin-left: 0;
      margin-right: 0; }
      .product-info:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1280px) {
    .product-info {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%;
      margin-left: 8.5298042998%;
      margin-right: 0; }
      .product-info:last-child {
        margin-right: 0; } }

.price {
  color: #2dc103;
  display: inline-block;
  font-weight: bolder;
  margin-bottom: 0; }

.product-price {
  font-size: 30px;
  font-size: 3rem;
  color: white;
  display: inline-block; }

.product-description {
  margin-right: 0;
  margin: 18px 0; }
  @media screen and (min-width: 320px) {
    .product-description {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 74.1053340983%;
      margin-left: 12.9473329508%; }
      .product-description:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 600px) {
    .product-description {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 74.1053340983%;
      margin-left: 12.9473329508%; }
      .product-description:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 900px) {
    .product-description {
      float: left;
      display: block;
      margin-right: 2.8425855704%;
      width: 38.2944486578%;
      margin-left: 0; }
      .product-description:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1280px) {
    .product-description {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%;
      margin-left: 8.5298042998%; }
      .product-description:last-child {
        margin-right: 0; } }

.review-block-latest {
  background: #2D2D2D;
  border: 1px solid #52C0D3;
  border-radius: 3px;
  margin-top: 20px;
  overflow: hidden;
  padding: 8px 4%; }

.product-description-info {
  float: left;
  display: block;
  margin-right: 5.8515051827%;
  width: 100%;
  margin-right: 0; }
  .product-description-info:last-child {
    margin-right: 0; }

.product-comment {
  float: left;
  display: block;
  margin-right: 5.8515051827%;
  width: 100%; }
  .product-comment:last-child {
    margin-right: 0; }

.border-image {
  border: 1px solid #52C0D3;
  margin-right: 10px;
  margin-top: 20px; }

.active {
  float: left;
  display: block;
  margin-right: 2.8425855704%;
  width: 100%; }
  .active:last-child {
    margin-right: 0; }

.image-active {
  width: 600px; }

.preview-image {
  width: 60px;
  cursor: pointer; }

/* ======================

   Partials/modules/footer

   ======================= */
.footer {
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #252525;
  height: 70px;
  width: 100%;
  margin-bottom: 10px; }

.text-footer {
  display: inline-block;
  margin-top: 25px;
  margin-left: 40px;
  width: 20%; }

/* icons
   ========================================================================== */
.nav-footer {
  display: inline-block;
  float: right;
  margin-top: 18px;
  margin-right: 40px;
  width: auto; }

.list-social {
  margin: 0; }

.li-item {
  display: inline-block;
  margin-left: 4px; }

.li-item p {
  margin: 0;
  padding: 6px 12px; }

.social-net-fb {
  background-color: #46629e; }

.social-net-tw {
  background-color: #55acee; }

.social-net {
  color: white;
  text-decoration: none; }
/*# sourceMappingURL=style.css.map */