/* ======================

   Partials/base

   ======================= */

/*
 * Rules for base elements
 */
html {
    font-size: 62.5%;
    font-family: $font;
}

body {
    margin: 0;
    background: $wrap-color; /* fallback for old browsers */
    background-image: -o-linear-gradient(right, #272939 0%, #232D7D 100%);
    background-image: -moz-linear-gradient(right, #272939 0%, #232D7D 100%);
    background-image: -webkit-linear-gradient(right, #272939 0%, #232D7D 100%);
    background-image: -ms-linear-gradient(right, #272939 0%, #232D7D 100%);
    background-image: linear-gradient(to right, #272939 0%, #232D7D 100%);
}

section {
    @include span-columns(12);
    padding: 45px 0 65px;
}

img {
    max-width: 100%;
    height: auto;
    width: inherit;
}

p, li {
    @include font-size(14);
    color: #555;
    line-height: 1.5;
}

p, ul, ol, dl {
    margin: 0 0 0.5em 0;
}

ul, ol {
    padding-left: 2em;
    list-style: none;
}

p {
    color: $text-basic;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: $link;
}

a:hover {
    text-decoration: underline;
}

h1{
    @include font-size(25);
    color: $title;
}

h2{
    @include font-size(20);
}

h3{
    @include font-size(15);
}

h2, h3{
    color: $subtitle;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

// Tablas
table {
    @include font-size(14);
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0.5em;
}

/*
 * Rules for base drupal elements
 */
.element-invisible {
    @extend %hidden;
}

// Tabs
.tabs {
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    li {
        list-style-type: none;
        float: left;
    }
    a {
        color: #333;
        @include font-size(14);
        padding-right: 20px;
        &.active {
            color: #000;
            font-weight: 600;
        }
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}

.review-fav{
    li{
        color: $star;
    }
}
