//
// Variables
//

// Sprite
$sprite-image: "../images/global-sprite";

//Neat Import
@import "neat";

// Typography
// @import url(https://fonts.googleapis.com/css?family=Hind:400,500,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic);
$font: 'Muli', Arial, sans-serif;

// Colors
$star: #e5a929;
$wrap-color: #272939;
$products-container: #252525;

$title: #52C0D3;
$subtitle: #52C0D3;
$text-basic: #ededed;
$link: #e5a929;


//Degradados

// Neat variables
$max-width: 1200px;
$grid-colums: 12;

// Breakpoints
/* $desktop: 1000px;
$tablet: 700px;
$mobile-large: 500px; */

$desktop: new-breakpoint(min-width 1200px 12);
$tablet: new-breakpoint(min-width 700px 8);
$mobile: new-breakpoint(min-width 500px 4);





