/* ======================

   Partials/variables

   ======================= */

// Sprite
$sprite-image: "../images/global-sprite";

//Neat Import
@import "neat";


// Colors
$star: #e5a929;
$wrap-color: #272939;
$menu-color: #252525;

$title: #52C0D3;
$subtitle: #52C0D3;
$text-basic: #ededed;
$link: #e5a929;

$facebook: #46629e;
$twitter: #55acee;


// Neat variables
$max-width: 1200px;
$grid-colums: 12;


// Breakpoints
$mobile: new-breakpoint(min-width 320px 8);
$mobile-large: new-breakpoint(min-width 600px 8);
$tablet: new-breakpoint(min-width 900px 10);
$desktop: new-breakpoint(min-width 1280px 12);
$desktop-large: new-breakpoint(min-width 1400px 12);






