.review-block {
    border: 1px solid #52C0D3;
    border-radius: 3px;
    overflow: hidden;
    background: #2D2D2D;
    padding: 8px 4%;
    margin-top: 20px;
    //box-shadow: -7px -7px 3px 0px #52C0D3;
}

.product-comment {

}

.profile-picture {
    border-radius: 50%;
    width: 80px;
}

.profile-picture-main {
    border-radius: 50%;
    width: 40px;
}
